body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f7f8fa;
  color: #333;
}


main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

h2, h1, p {
  margin: 0;
  padding: 0;
}

button {
  background-color: #0077ff;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #005fcc;
}
